.footer-div{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    Padding:80px 80px 32px 80px;
    Gap:49px;
}

.footer-5{
    position: relative;
    text-align: left;
}

.width-img{
    width: 364px;
}

.footer-img{
    width: 299px;
    height: 61px;
}

.font{
    font-weight: 600;
    color: #005ca9;
    font-size: 24px;
}

hr{
    width: 89%;
    border: 1px solid black;
}

p{
    font-size: 14px;
}

.icon{
    color: #005ca9;
} 

.footer-a{
    text-align: center;
    margin-top: 1rem;
}

a{
    text-decoration: none;
    color: #005ca9;
    font-size: 14px;
}

.footer {
    background-image: url('../../images/Footer/footer-horz.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 850px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;

}
.hr-footer{
    border: 1px solid black;
    width: 1268px;
    margin-top: -1rem;
}
.hr-footer-btn{
    border: 1px solid black;
    width: 1268px;

}
.footer-p-register{
    font-size: 56px;
    line-height: 96px;
    color: #005ca9;
    text-transform: uppercase;
    margin-top: 2rem;
    text-align: center;
}

.footer-p-Sign{
    font-size: 18px;
    line-height: 27px;
    margin-top: -3rem;
}

.footer-log-re{
    position: absolute;
    background-color: white;
    border-radius: 5px;
    width: 1348px;
    height: 798px;
    border: 1px solid #dee2e6;
}

.footer-log-re #collect-info {
    padding: 10px;
    width: max-content;
    margin: 0 auto;
}
.footer-a{
    color: #005CA9;
    padding: 16px 0px 32px;
    font-size: 18px;
    font-weight: 400;
    color: #005CA9;
}
.blue{
    color: #005CA9;  
}
input{
    border: none;
    background-color: transparent;
    background: transparent;
    outline: none;
}
.input-hr{
    width: 32%;
}
.div-in-la{
    width: 1268px;
}
.label-textbox{
    display: flex;
    gap: 10px;
}
.label-text{
    width: 629px;
    height: 78px;
}
.label-input{
    font-weight:600;
    font-size:16px;
    line-height:24px;
    color: black;
    width: 629px;
}
.label-name-email{
    font-weight:600;
    font-size:16px;
    line-height:24px;
    color: black;
    width: 629px;
}
.text-input{
    width: 629px;
    height: 48px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}
.text-input::placeholder {
    padding-left: 10px; 
}
.input-text::placeholder {
    padding-left: 10px; 
}
.icon-img{
    margin-left: 4rem;
}
.form-control{
    height: 48px;
    border-radius: 10px;
}
.size{
    font-size: 16px;
}
.text-select{
    width: 1268px;
    height: 48px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding-left: 5px;
}
.none{
    text-decoration: underline;
    color: black;
}
.button-ref{
    width: 160px;
    height: 64px;
    border: 1px solid #005CA9;
    color: #005CA9;
    border-radius: 16px;
    padding: 6px 14px 6px 14px;
}
.button-con{
    width: 160px;
    height: 64px;
    border: 1px solid #005CA9;
    background-color: #005CA9;
    color: white;
    border-radius: 16px;
    padding: 6px 14px 6px 14px;
    margin-left: 0.5rem;
}
.div-ref-con{
    width: 21rem;
    margin-left: 58.5rem;
}
.div-top{
    margin-top: 0.6rem;
    color: black;
}
.div-top-2{
    margin-top: 0.8rem;
}
.icon-ytb-z{
    margin-left: 1rem;
}
.footer-p{
    font-size: 18px;
    font-weight: 400;
    color: black;
}
.div-a-footer{
    color: black;
}

/* Notify News */
.notify-news {
    background-image: url('../../images/Footer/footer-horz.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 379px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.notify-news .title {
    color: var(--Blue-500, #005CA9);
    text-align: center;
    font-family: "Noto Serif";
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}

.notify-news .content #collect-info {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333;
    width: max-content;
    margin: 0 auto;
}

.notify-news .content #collect-info a {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    color: var(--Neutral-500, #868E96);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}