.home-carousel-button-container {
    display: flex;
    width: 52px;
    height: 52px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(--Color, #FFF);

    /* Shadow */
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.05);
}

.carousel-inner .home-banner {
    height: 700px;
}

.carousel-inner .img-home {
    height: 100%;
    object-fit: fill;
}

.home-icons-contact-container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    right: 30px;
    bottom: 30px;
    z-index: 10;
}

.home-icons-contact-container .home-icon-contact-container {
    flex-shrink: 0;
    padding: 10px;
    background-color: #FFF;
    border-radius: 100px;
    border: 8px solid #005CA9;
    margin-bottom: 20px;
}

.services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    padding: 50px 50px;
    gap: 80px;
}

.services-container .texts-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.services-container .texts-container h1 {
    align-self: stretch;
    color: var(--Blue-500, #005CA9);

    /* Display/Display Large */
    font-family: "Noto Serif";
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 96px */
    text-transform: uppercase;
}

.services-container .texts-container p {
    align-self: stretch;
    color: var(--Blue-Gray-900, #0F172A);

    /* Body/L */
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 28.8px */
}

.services-container .row-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.services-container .row-container .column-selector {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 30%;
}

.services-container .row-container .column-selector .list-group-item svg {
    margin-right: 10px;
}

.services-container .row-container .section-images {
    padding-left: 50px;
    width: 70%;
    position: relative;
}

.services-container .row-container .section-images .text-container-with-bg-image {
    width: 70%;
    height: 400px;
    background-image: url('../../images/Home/section-image.png');
    background-size: cover;
    position: relative;
    border-radius: 20px;
    z-index: 10;
}

.services-container .row-container .section-images .text-container-with-bg-image-blur {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    height: 300px;
    background-image: url('../../images/Home/section-image.png');
    background-size: cover;
    border-radius: 20px;
    filter: blur(1px);
}

.services-container .row-container .section-images .text-container-with-bg-image-blur .text-container {
    position: absolute;
    bottom: 0;
    padding: 20px;
    background: var(--Color-6, rgba(36, 36, 36, 0.85));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.services-container .row-container .section-images .text-container-with-bg-image-blur .text-container h5 {
    color: var(--Color, #FFF);

    /* Title/Title Medium */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 36px */
}

.services-container .row-container .section-images .text-container-with-bg-image-blur .text-container p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    align-self: stretch;
    overflow: hidden;
    color: var(--Color, #FFF);
    text-overflow: ellipsis;

    /* Body/Body Large */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}

.services-container .row-container .section-images .text-container-with-bg-image-blur .text-container a {
    color: var(--Color, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
    text-decoration-line: underline;
    text-transform: capitalize;
}

.services-container .row-container .section-images .text-container-with-bg-image .text-container {
    position: absolute;
    bottom: 0;
    padding: 20px;
    background: var(--Color-6, rgba(36, 36, 36, 0.85));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.services-container .row-container .section-images .text-container-with-bg-image .text-container h5 {
    color: var(--Color, #FFF);

    /* Title/Title Medium */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 36px */
}

.services-container .row-container .section-images .text-container-with-bg-image .text-container p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    align-self: stretch;
    overflow: hidden;
    color: var(--Color, #FFF);
    text-overflow: ellipsis;

    /* Body/Body Large */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}

.services-container .row-container .section-images .text-container-with-bg-image .text-container a {
    color: var(--Color, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
    text-decoration-line: underline;
    text-transform: capitalize;
}

.reasons-container {
    width: 100%;
    padding: 50px 50px;
}

.reasons-container h1 {
    color: var(--Blue-500, #005CA9);
    text-align: center;
    align-self: stretch;

    /* Display/Display Large */
    font-family: "Noto Serif";
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 96px */
    text-transform: uppercase;
}

.reasons-container .reasons-number-title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.reasons-container .reasons-number-title-container .number-and-year-group {
    display: flex;
    width: 200px;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reasons-container .reasons-number-title-container .number-and-year-group h1 {
    color: var(--Blue-500, #005CA9);
    text-align: center;
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 120px */
}

.reasons-container .reasons-text-container {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    align-self: stretch;
}

.reasons-container .reasons-text-container span {
    overflow: hidden;
    color: var(--Neutral-950, #0C0D0E);
    text-align: center;
    text-overflow: ellipsis;

    /* Title/Title Large */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 48px */
}

.reasons-container .reasons-text-container p {
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    color: var(--Neutral-500, #868E96);
    text-overflow: ellipsis;
    text-align: justify;

    /* Title/Title Large */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.reasons-container .reasons-image-and-text-container {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    width: 100%;
    padding: 20px 20px;
}

.reasons-container .reasons-image-and-text-container .image-and-text-group {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
}

.reasons-container .reasons-image-and-text-container .image-and-text-group h4 {
    height: 100px;
    align-content: center;
    color: var(--Blue-500, #005CA9);
    text-align: center;

    /* Title/Title Large */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 48px */
}

.reasons-container .reasons-image-and-text-container .image-and-text-group p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    align-self: stretch;
    overflow: hidden;
    color: var(--Neutral-950, #0C0D0E);
    text-align: justify;
    text-overflow: ellipsis;
    padding-left: 40px;
    padding-right: 40px;

    /* Body/Body Large */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}

.working-container {
    width: 100%;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.working-container h1 {
    align-self: stretch;
    color: var(--Blue-500, #005CA9);
    text-align: center;

    /* Display/Display Large */
    font-family: "Noto Serif";
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 96px */
    text-transform: uppercase;
}

.working-container .tab-container {
    width: 100%;
}

.working-container .tab-container .nav .nav-item a {
    color: var(--Neutral-500, #868E96);

    /* Title/Title Large */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 48px */
}

.nav-tabs .nav-link.active {
    color: var(--Blue-500, #005CA9) !important;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid var(--Blue-500, #005CA9) !important;

    /* Title/Title Large */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 48px */
}

.working-container .images-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.working-container .images-container .home-images-row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}


.price-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-container h1 {
    color: var(--Blue-500, #005CA9);
    text-align: center;

    /* Display/Display Large */
    font-family: "Noto Serif";
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 96px */
    text-transform: uppercase;
    margin-bottom: 50px;
}

.price-container .img-list {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    max-height: 250px;
    overflow: scroll;
    align-self: center;
    gap: 24px;
}

.other-blog-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.other-blog-container .other-blog-title-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.other-blog-container .other-blog-title-container h1 {
    color: var(--Blue-500, #005CA9);

    /* Display/Display Large */
    font-family: "Noto Serif";
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 84px */
    text-transform: uppercase;
}

.other-blog-container .other-blog-title-container a {
    color: var(--Neutral-500, #868E96);

    /* Title/Title Medium */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 36px */
}

.home-other-blogs {
    width: 100%;
    max-height: 300px;
}

.home-other-blogs .blog-card-item {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 300px;
    align-items: center;
    align-self: stretch;
    border-radius: var(--Corner-Large, 16px);
    border: var(--Number-3, 1px) solid var(--Neutral-200, #C8CCD0);
    background: var(--Color, #FFF);
}

.home-other-blogs .blog-card-item .card-item-content {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.home-other-blogs .blog-card-item .card-item-content h5 {
    color: var(--Neutral-950, #0C0D0E);

    /* Title/Title Large */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 48px */
}

.home-other-blogs .blog-card-item .card-item-content a {
    color: var(--Neutral-950, #0C0D0E);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
    text-decoration-line: underline;
    text-transform: capitalize;
}

.padding-left-right-200 {
    padding-left: 200px;
    padding-right: 200px;
}

.card-list-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.home-other-blogs .blog-card-item img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}